/* Write your CSS code here */
.list-container {
  display: flex;
  padding-left: 0px;

  justify-content: space-between;
  align-items: center;
}
.image-container {
  display: flex;
  align-items: center;
}
.cur-logo {
  height: 30px;
  border-radius: 100%;
  align-self: center;
  margin-right: 10px;
}
.currency-name {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
}
.value-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.euro-val {
  text-align: right;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  width: 52px;
  margin-left: 8px;
}
@media (min-width: 576px) {
  .euro-val {
    font-size: 16px;
    width: 72px;
    margin-left: 48px;
  }
}
